<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
   <div class="col-md-6 col-md-offset-3">
      <%= form_with(url: login_path, scope: :session) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Ricordami</span>
        <% end %>

        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>

      <p>Nuovo utente? <%= link_to "Registrati ora!", signup_path %></p>
      <p><%= link_to "Password dimenticata?", new_password_reset_path %></p>
   
      <div class="google-login">
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <div id="g_id_onload"
          data-client_id="676271951973-1nhi134ag2edhefulklfqinnbkbajshc.apps.googleusercontent.com"
          data-context="signin"
          data-ux_mode="popup"
          data-login_uri="/google-login"
          data-auto_prompt="false">
      </div>

      <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-locale="it"
        data-logo_alignment="left">
      </div>
     </div>
   </div>
</div>
