<li id="post-<%= post.id %>">
    <%= link_to gravatar_for(post.user, size: 50), post.user %>
    <span class="user"><%= link_to post.user.name, post.user %> <%= link_to post.user.surname, post.user %>
    </span>
    <span class="category"><%= link_to post.category, posts_category_path(:cat => post.category), class: "link-cat" %></span>
    <span class="content", style="word-wrap: break-word">
    <%= post.content %>
    <%if post.files.attached? %>
        <br>
        <% post.files.each do |f| %>
        <%= link_to f.filename, rails_blob_path(f, disposition: "attachment") %>
        <div class="g-savetodrive"
          data-src= "/"<%= rails_blob_path(f, only_path: true) %>
          data-filename= <%= f.filename %>
          data-sitename="CommunityContentCollector">
        </div>
        <% end %>
    <% end %>
    </span>
    <span class="timestamp">Posted <%= time_ago_in_words(post.created_at) %> ago.
    <%= link_to "Modifica post", edit_post_path(post), class: "link-cat" %>
    </span>
    <span class="comments">
      <% if post.comments.any? %>
        <h3>Commenti: <%= post.comments.count %></h3>
              <ol class="comments">
		        <%= render @comments %>
              </ol>
        <%= will_paginate @comments %>
              
      <% end %>
		<div class="comment-form">
		  <h4>Lascia un commento</h4>
		  <%= render 'shared/comment_form' %>
		</div>
    </span>
</li>
