<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %> <%= link_to post.user.surname, post.user %>
  </span>
  <span class="category"><%= link_to post.category, posts_category_path(:cat => post.category), class: "link-cat" %></span>
  <span class="content", style="word-wrap: break-word">
    <%= post.content %>
    <%if post.files.attached? %>
      <br>
      <% post.files.each do |f| %>
        <%= link_to f.filename, rails_blob_path(f, disposition: "attachment") %>
      <% end %>
    <% end %>
  </span>
  <span class="timestamp">Posted <%= time_ago_in_words(post.created_at) %> ago.
  <%= link_to "Visualizza post", post %>
  </span>
  
    <% if post.comments.any? %>
        <span class="commenti">
      <%= link_to(post) do %>
        Visualizza commenti (<%= post.comments.count %>)
      <% end %>
      </span>
    <% end %>
  
  <span class="elimina"> 
  <% if current_user?(post.user) || current_user.admin? %>
    <%= link_to "Elimina", post, data: { "turbo-method": :delete, turbo_confirm: "Sei sicuro?" } %>
  <% end %>
  </span>
</li>
