<%= form_with(model: @post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.select(:category, [["Archeologia","Archeologia"], ["Biologia", "Biologia"], ["Economia", "Economia"], ["Ingegneria", "Ingegneria"], ["Lettere", "Lettere"], ["Lingue", "Lingue"], ["Medicina", "Medicina"]]) %> 
      <%= f.text_area :content, placeholder: "Crea nuovo post" %>
    </div>

    <%= f.submit "Post", class: "btn btn-primary" %>
    <span class="file">
      <%= f.file_field :files, :multiple => true, accept: "application/pdf, application/msword, text/x-python, text/x-c++src, text/x-java-source, text/x-ruby" %>
    </span>
<% end %>
